html{
    padding:0;
    margin:0;
    background-color: rgb(212, 209, 209);
}
.container{
    margin: 0 auto;
    padding: 0;
    width: 430px;
    height: 80%;
    background-color:rgb(155, 82, 223);
    border-radius: 5px;
}
.container > h1 {
    color: #fff;
    padding: 10px 10px;
}
input{
    padding:10px 10px;
    border:none;
    outline:none;
    border-radius: 5px;
    font-size: 16px;
}
.result > h1{
    font-size: 50px;
}
span{
    color:white;
}
strong{
    color:white
}
img{
    width: 120px;
    margin: 10px;
}